link(
  href='https://fonts.googleapis.com/css?family=Satisfy' 
  rel='stylesheet' 
  type='text/css'
)

h1 #[span C]#[span a]#[span r]#[span a]#[span m]#[span e]#[span l]#[span ,] #[span y]#[span o]#[span u] #[span a]#[span r]#[span e] #[span t]#[span h]#[span e] #[span l]#[span i]#[span g]#[span h]#[span t] #[span a]#[span n]#[span d] #[span l]#[span o]#[span v]#[span e] #[span o]#[span f] #[span m]#[span y] #[span l]#[span i]#[span f]#[span e]#[span !]

.light