// ================
// Colors
// ================

$love: #09447B;
$light: #8f0044;
$heart: #ff5284;

  
// ================
// Light
// ================

@function light() {
  
  $light: null;
  
  @for $i from 1 through 20 {
    $light: append($light, 0 0 0 random(150) * 1vmin hsla(random(255), 100, 60, .125), comma);
  }
  
  @return($light);
  
}

$light-strength: 2vmin;
$light-offset: $light-strength / 2 * -1;

.light {
  position: absolute;
  margin: $light-offset 0 0 $light-offset;
  height: $light-strength;
  width: $light-strength;
  border-radius: 100%;
  mix-blend-mode: color-dodge;
  transition: box-shadow 2s;
  
  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    height: 150%;
    width: 100%; 
    content: '';
    background: darken($heart, 10%);
    border-radius: 2em 2em 0 0;
  }
  
  &:before {
    left: 50%;
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
  
  &:after {
    right: 50%;
    transform: rotate(45deg);
    transform-origin: right bottom;
  }
  
  h1:hover + & {
    box-shadow: light(); 
  }
  
}


// ================
// Heading
// ================

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  max-width: 10em;
  width: 100%;
  margin: 0;
  font-size: 7vmin;
  font-weight: normal;
  background: 
    linear-gradient(
      45deg,
        $love 0, 
        $light 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: translate(-50%, -50%);
  
  &::selection {
    background: $heart;
  }
  
  &:hover {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background-clip: initial;

    mix-blend-mode: color-dodge;
  }
  
  span {
    transition: color .3s;
    
    @at-root h1:hover span {
      
      @for $i from 1 through 38 {
        
        &:nth-child(#{$i}) {
          color: hsl(random(255), 80, 55);
          animation: love-#{$i} 4s .05s * $i infinite;
        }
        
      }
      
    }
    
    &::selection {
      background: $heart;
      color: #fff;
      -webkit-text-fill-color: #fff;
    }
    
  }
  
}

@for $i from 1 through 38 {

  @keyframes love-#{$i} {

    @for $i from 1 through 9 {
      
      #{10% * $i} {
        color: hsl((random(255)), 80, 55);
      }
      
    }
    
  }
  
}


// ================
// Structure
// ================

html {
  overflow: hidden;
  height: 100%;
  font-family: "Satisfy";
  background: $love;
  background: 
    linear-gradient(
      45deg,
        $love 0,
        $light 100%
    );
}

  body {
    height: 100%;
  }